<a href="https://colab.research.google.com/github/Alice1304/1day1commit/blob/main/%ED%8C%8C.%EB%A8%B8.%ED%8C%90.%EB%8D%B0./Part1/dataframe2_0928.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# 행 인덱스/열 이름 지정하여, 데이터프레임 만들기
df = pd.DataFrame([[13, '남', '플래디스'], ['무한', '남', 'sm']], 
                   index=['세븐틴', 'nct'],
                   columns=['인원', '성별', '소속사'])

In [2]:
df

     인원 성별   소속사
세븐틴  13  남  플래디스
nct  무한  남    sm

In [3]:
df.index=['seventeen', 'NCT']
df.columns=['인원수', '남/녀', '소속']

In [4]:
df

          인원수 남/녀    소속
seventeen  13   남  플래디스
NCT        무한   남    sm

In [5]:
#rename 이용해 특정 행/열만 바꾸기

In [13]:
df.rename(columns={'인원수':'명수'}, inplace=True)
df.rename(index={'seventeen':'Seventeen'},inplace=True)

In [24]:
df

           명수 남/녀    소속
Seventeen  13   남  플래디스
NCT        무한   남    sm

In [35]:
#행/열삭제하기


df1= df.copy()

In [36]:
df1

           명수 남/녀    소속
Seventeen  13   남  플래디스
NCT        무한   남    sm

In [37]:
df1.drop('Seventeen',inplace=True)
df1

     명수 남/녀  소속
NCT  무한   남  sm

In [38]:
df2=df.copy()

In [39]:
df2

           명수 남/녀    소속
Seventeen  13   남  플래디스
NCT        무한   남    sm

In [40]:
df2.drop('명수',axis=1, inplace=True)
df2

          남/녀    소속
Seventeen   남  플래디스
NCT         남    sm

In [47]:
seventeen1 = df.iloc[0]
seventeen1

명수       13
남/녀       남
소속     플래디스
Name: Seventeen, dtype: object

In [48]:
seventeen2 = df.loc['Seventeen']
seventeen2

명수       13
남/녀       남
소속     플래디스
Name: Seventeen, dtype: object

In [49]:
df.명수

Seventeen    13
NCT          무한
Name: 명수, dtype: object

In [50]:
df['명수']

Seventeen    13
NCT          무한
Name: 명수, dtype: object

In [51]:
df[['명수']]

           명수
Seventeen  13
NCT        무한

In [53]:
df[['명수','소속']]

           명수    소속
Seventeen  13  플래디스
NCT        무한    sm