<a href="https://colab.research.google.com/github/Alice1304/1day1commit/blob/main/%ED%8C%8C.%EB%A8%B8.%ED%8C%90.%EB%8D%B0./Part1/dataframe3_1003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 나의 캐글 Account에서 API Token 다운 받기 = > JSON 파일 다운로드 후 캐글과 연결해주기

!pip install kaggle
from google.colab import files
files.upload()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.6.15)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"fabiolacheon","key":"db6265998386d9a01fb1d473fc65c679"}'}

In [2]:
#Kaggle API를 사용하기 위해 json 파일을 ~/.kaggle로 이동

!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

# Permission Warning 방지
!chmod 600 ~/.kaggle/kaggle.json

In [3]:
!kaggle competitions download -c titanic

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 29.5MB/s]

In [4]:
!ls

kaggle.json  sample_data  titanic.zip

In [5]:
!unzip /content/titanic.zip

Archive:  /content/titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv

In [6]:
import pandas as pd
import numpy as np

In [25]:
train = pd.read_csv('/content/train.csv')

In [26]:
train_1 = train.iloc[0:100]

In [27]:
train_1.shape

(100, 12)

In [28]:
train.shape

(891, 12)

In [29]:
train_1.shape

(100, 12)

In [31]:
train_1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
train_1.set_index('Name',inplace=True)
train_1.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
a= train_1.iloc[0,3]
a

'male'

In [35]:
b=train_1.loc['Braund, Mr. Owen Harris','Sex']
b

'male'

In [37]:
c = train_1.iloc[0,[3,4]]
c

Sex    male
Age    22.0
Name: Braund, Mr. Owen Harris, dtype: object

In [39]:
d = train_1.iloc[[1,3],0]
d

Name
Cumings, Mrs. John Bradley (Florence Briggs Thayer)    2
Futrelle, Mrs. Jacques Heath (Lily May Peel)           4
Name: PassengerId, dtype: int64

In [41]:
e = train_1.loc['Braund, Mr. Owen Harris':'Futrelle, Mrs. Jacques Heath (Lily May Peel)','Sex':'Age']
e

                                                       Sex   Age
Name
Braund, Mr. Owen Harris                               male  22.0
Cumings, Mrs. John Bradley (Florence Briggs Tha...  female  38.0
Heikkinen, Miss. Laina                              female  26.0
Futrelle, Mrs. Jacques Heath (Lily May Peel)        female  35.0

In [42]:
train_1['English'] = 'Y'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
train_1.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,English
Name,,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,Y
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,Y
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Y
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S,Y
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,Y

In [45]:
train_1.loc['james'] = [101,1,3,'male',45,1,0,'A/5',53.14,'C124','C','N']

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [46]:
train_1.tail()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,English
Name,,,,,,,,,,,,
"Goldschmidt, Mr. George B",97,0,1,male,71.0,0,0,PC 17754,34.6542,A5,C,Y
"Greenfield, Mr. William Bertram",98,1,1,male,23.0,0,1,PC 17759,63.3583,D10 D12,C,Y
"Doling, Mrs. John T (Ada Julia Bone)",99,1,2,female,34.0,0,1,231919,23.0000,NaN,S,Y
"Kantor, Mr. Sinai",100,0,2,male,34.0,1,0,244367,26.0000,NaN,S,Y
james,101,1,3,male,45.0,1,0,A/5,53.1400,C124,C,N